/* reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
}  
  
img {
    height: fit-content;
    width: auto;
}
  
/* variables */
:root {
    --primary-color: hsl(0, 0%, 100%);
    --secondary-color: hsl(204, 100%, 48%);
    --background: hsl(0, 0%, 95%);
    --border: hsl(0, 0%, 83%);
    
    -webkit-font-feature-settings: antialiased;
    font-feature-settings: antialiased;
}
  
/* base */
  
html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    min-height: 80vh;
    background-color: var(--background);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}


/* components */

.instagram-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100vh;
}

.instagram-phone {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin-right: 1.5rem;
}


.instagram-phone img {
    height: 34rem;
    /* width: 100%; */
    /* min-height: 34rem; */
}

.instagram-continue{
    display: flex;
    align-items: center; /* horizontal */
    justify-content: space-around; /* vertical */
    flex-direction: column; /* inverte o eixo */
    width: 50%;
    min-height: 34rem;
    min-width: 20rem;
}

.group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: var(--primary-color);
    width: 100%;
    padding: 1.3rem 0;
    border: 1px solid var(--border);

}

.group:nth-child(1){
    min-height: 19rem;
}

.instagram-logo{
    height: 3rem;
}

.profile-photo{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
}

.profile-photo img {
    height: 6rem;
}

.instagram-login{
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 8px;
    border-radius: 4px;

}

.instagram-logout{
    color: var(--secondary-color);
    margin-top: 1rem;

}

.not-account{
    color: hsl(0, 0%, 63%);
}

.link-blue{
    color: var(--secondary-color);
}

.get-the-app{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1.3rem 0;
}
.download {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    padding: 1rem;
}

.app-download {
    height: 2.6rem;
    width: 9rem;
    background-size: cover;
}

.app-download:nth-child(1){
    background-image: url(./img/apple-button.png);
}

.app-download:nth-child(2){
    background-image: url(./img/googleplay-button.png);
}

/* .get-the-app img {
    margin: 1rem 0.3rem 0;
    height: 2rem;
} */


/* MEDIA QUERIES */

@media (max-width: 1024px) {
    .instagram-wrapper {
        width: 90%;
    }
}

@media (max-width: 650px) {
    .instagram-wrapper {
        width: 90%;
    }
    
    .instagram-phone{
        display: none;
    }
    
    .instagram-continue{
        width: 100%;
    }

    .group {
        border: 0px solid var(--border);
    
    }
    body {
        background-color: var(--primary-color);
    }
}